<ul class="nav nav-tabs">
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/about">about</a></li>
</ul>

<h2>home</h2>
<p>see difference in time display between reloading and click a link.</p>
